import init.mmi.dtv.rc

on boot
    # STML0XX driver parameter permissions
    chown root mot_tcmd /sys/module/stml0xx/parameters/irq_disable
    chmod 0660 /sys/module/stml0xx/parameters/irq_disable

    # AK09912 driver parameter permissions
    chown system compass /sys/class/compass/akm09912/accel
    chmod 0660 /sys/class/compass/akm09912/accel
    chown system compass /sys/class/compass/akm09912/delay_acc
    chmod 0660 /sys/class/compass/akm09912/delay_acc
    chown system compass /sys/class/compass/akm09912/enable_acc
    chmod 0660 /sys/class/compass/akm09912/enable_acc
    chown system compass /sys/class/compass/akm09912/delay_fusion
    chmod 0660 /sys/class/compass/akm09912/delay_fusion
    chown system compass /sys/class/compass/akm09912/enable_fusion
    chmod 0660 /sys/class/compass/akm09912/enable_fusion
    chown system compass /sys/class/compass/akm09912/delay_mag
    chmod 0660 /sys/class/compass/akm09912/delay_mag
    chown system compass /sys/class/compass/akm09912/enable_mag
    chmod 0660 /sys/class/compass/akm09912/enable_mag

# Change the ownership of display TE files for tcmds
    chown root mot_tcmd /sys/class/graphics/fb0/te_enable
    chown root mot_tcmd /sys/class/graphics/fb0/frame_counter

# set permission for HBM feature
    chown system system /sys/class/graphics/fb0/hbm

# Change ownership of aov related sysfs entries
    chown audio audio /sys/kernel/aov/trigger
    chown audio audio /sys/kernel/aov/register
    chown audio audio /sys/kernel/aov/event

# Create directory for adspd
    mkdir /data/adspd/ 0770 audio diag

# Start Sensor daemon
service stml0xx /system/bin/stml0xx boot
    class late_start
    user compass
    group compass misc input
    oneshot

on post-fs-data
    # AK09912 calibration file directory
    mkdir /data/misc/akmd 0770 system compass

# Start AKM executable
service akmd09912 /system/bin/akmd09912
    class main
    user compass
    group compass misc input

service adspd /system/bin/adspd
    class main
    socket adspdsock stream 0660 system audio
    user audio
    group audio input diag

on early-init
    # Mount point for Digital Personalization partition
    mkdir /customize 0500 root root

on fs
    #Mount customize partion
    wait /dev/block/platform/msm_sdcc.1/by-name/customize
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/customize /customize ro discard nosuid nodev noatime nodiratime noexec defcontext=u:object_r:user_config_file:s0

# When property ro.boot.num-sims is set
on property:ro.boot.num-sims=1
    setprop persist.radio.multisim.config ""

service mbm_spy /system/bin/mbm_spy
    class late_start
    user system
    group system
    oneshot
